%div.create-my-reptile
  %h1 Add a New Reptile

  = form_with model: @my_reptile, url: create_my_reptile_path, local: true, html: { multipart: true } do |f|
    .field
      = f.label :image, "Upload Image"
      = f.file_field :image, id: "image-upload"
      = f.hidden_field :crop_x, id: "my_reptile_crop_x"
      = f.hidden_field :crop_y, id: "my_reptile_crop_y"
      = f.hidden_field :crop_width, id: "my_reptile_crop_width"
      = f.hidden_field :crop_height, id: "my_reptile_crop_height"

    %div#circle-preview
      %div.circle-frame
        %img#circle-image{ src: "", alt: "Preview", style: "display: none;" }

    %div#crop-modal.modal
      %div.modal-content
        %span.close-button &times;
        %h2 画像の範囲を選択
        %div.cropper-container
          %img#cropper-image{ src: "", style: "display: none;" }
        %button#save-crop.save-button{type: "button"} 確定


    .field
      = f.label :name, "名前"
      = f.text_field :name

    .field
      = f.label :species, "種類"
      = f.text_field :species

    .field
      = f.label :morph, "モルフ"
      = f.text_field :morph

    .field
      = f.label :birthday, "誕生日"
      = f.date_field :birthday

    .field
      = f.label :adoption_date, "お迎え日"
      = f.date_field :adoption_date

    .field
      = f.label :gender, "性別"
      = f.select :gender, [["オス", "male"], ["メス", "female"], ["不明", "unknown"]], prompt: "選択してください"

    .actions
      = f.hidden_field :crop_x
      = f.hidden_field :crop_y
      = f.hidden_field :crop_width
      = f.hidden_field :crop_height
      = f.submit "Create Reptile"