.reptile-detail
  .reptile-content
    .reptile-header
      .circle-frame
        - if @my_reptile.image.present?
          = image_tag @my_reptile.image.url, class: "reptile-image"
        - else
          .default-circle
            %i.fas.fa-dragon
    
    %h1= @my_reptile.name

    .reptile-info
      .info-item
        %label 種類：
        %span= @my_reptile.species
    
      .info-item
        %label モルフ：
        %span= @my_reptile.morph
    
      .info-item
        %label 性別：
        %span= @my_reptile.gender.present? ? @my_reptile.gender : "未設定"

      .info-item
        %label 生後：
        %span
          - if @my_reptile.days_since_birth
            = "#{@my_reptile.days_since_birth}日"
          - else
            未設定

      .info-item
        %label お迎えから：
        %span
          - if @my_reptile.days_since_adoption
            = "#{@my_reptile.days_since_adoption}日"
          - else
            未設定

  .actions
    = link_to "編集", edit_my_reptile_path(@my_reptile), class: "edit-button"
    = link_to "戻る", my_reptiles_top_path(user_id: current_user.id), class: "back-button"