- @reptiles.each do |reptile|
  %div
    %h2= reptile.name
    %p= reptile.description
    - if reptile.image.present?
      %img{ src: reptile.image.url, alt: reptile.name, class: "reptile-image" }

%div.my-reptiles-top
  %h1 My Reptiles
  = link_to new_my_reptile_path, class: "dli-plus-circle" do
    %div.dli-plus-circle
      %span

  - @reptiles.each do |reptile|
    %div
      %h2= reptile.name
      %p= reptile.description
      %p 誕生日: #{reptile.birthday}
      %p お迎え日: #{reptile.adoption_date}
      %p 性別: #{reptile.gender}
      - if reptile.image.present?
        %img{ src: reptile.image.url, alt: reptile.name, class: "reptile-image" }