<!DOCTYPE html>
<html>
  <head>
    <title>Reptionary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css">
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  </head>

  <body>
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>
    
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>

<% if user_signed_in? %>
  <p>
    ログイン中: <%= current_user.id %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </p>
<% else %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
